/* ################ CONTENT TYPOGRAPHY ################ */
.columnL h1:after {
    clear:none;
}
p {
	padding-bottom: 1em; /* 10/10 */
}
.columnL ul.horizontal.columns-two li {
	margin: 0;
	padding-left: 0.7em;  /*7/10*/
    width: 48%;
}
.columnL ul.horizontal.columns-two li h4 {
    display: block;
    padding: 1em;
}
img.contentImage {
    padding: 1.2em .5em 1.2em 0em; /* 12 0/10 */
    margin:0;
}