/* ################ HEADER ################ */
#header {
    width: 61.25em; /* 980/16 */
}
#header,
.column {
    margin-left: 0em; /* 0/16 */
}
#header {
    margin-bottom: 1px;
    /* changed for fidor: */
    height: 6.725em; /* 97/16 */
}
#logo {
    margin-top: 1.8125em; /* 29/16 */
    margin-left: 2.5em;
}
#main_logo_image {
    float: left;
    margin-top: 25px;
    /* margin-left: 2.5em; */
}
#hotline_image {
    float: left;
    margin-left: 2em;
    margin-top: 2.5em;
}
#quote {
    float:right;
    margin-top: 1.6875em; /* 27/16 */
}