/*############# landing page #############*/
.landing {
	background: #E3EDF4 url(/images/landing_bg_big.jpg) left top repeat-x;
	padding: 2em;
	margin-bottom: 1em;
}
.landing ul, #homeintro ul {
	list-style:none;
	margin-left: 0;
}
.landing li, #homeintro li {
	padding: 0 0 1em 1.7em;
	background: url(/images/icon_check.gif) left top no-repeat;
}
.landing .intro1 {
	width: 30em;
	float:left;
	background: transparent;
}
.landing .intro2 {
	width: 38em;
	float:left;
	background-color: #DBEBF7;
	background-image: none;
	background-repeat: no-repeat;
	margin-bottom: 2em;
}
.landing .intro2 p {
	margin: 1em 1em 0 1em;
}
.landing .intro2 img {
	float:left;
	margin-right: 1em;
}
.landing form {
	padding-top: 1.5em;
}
.landing .divider {
	background-image: none;
	background-repeat: repeat;
	border-top: 2px dashed white;
}
.landing .form-field {
	width: 47em;
	float:left;
}
.landing .form-label {
	width: 18em !important;
	font-weight: bold;
	font-size: 140% !important;
	letter-spacing: 90%;
}
.landing .form-elem {
	font-size: 134% !important; /* was 140% !important; but � was shown on a new line */
}
.landing .form-field select {
	width: 13em !important;
}
.landing .form-submit {
	width: 18em;
	clear: none;
	float: left;
	margin-top: 4em;
}
.landing .form-submit input {
	width: 15em !important;
}
.landing #sliderlabel {
	font-weight: bold;
	float: left;
}
.landing #amountSlider {
	/* width: 22.8em; */
	margin-bottom: 0em;
	float: left;
	margin-left: 3.4em;
}
.landing #amountSlider #slider-bg {
	background-color: white;
	background-image: none;
	height: 2.2em;
	/* width: 22.8em;	/* 17.6em */
	border-top: 1px solid  black;
	border-left: 1px solid  black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	display:block;
	margin-bottom: .1em;
	/* margin-left: 2.5em; */
}
.landing #amountSlider #slider-thumb {
	border-top: 1px solid  white;
	border-left: 1px solid  white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	width: 8em;
	height: 2em;
	text-align: center;
	background: #92E434 url(/images/button_green_3d.gif) repeat-x center top;
}
.landing #amountSlider #thelable {
	font-size:130%;
	margin-top: .5em;
	font-weight: bold;
}
.landing #amountSlider #s1max {
	float:right;
}
.landing #rateInterestBox, .landing #extendedRateInterestBox {
	background-color: white;
	border: 1px solid #999;
	padding: 1em;
	font-size: 90%;
	width: 23.3em;
	margin-left: 8em;
	margin-bottom: .5em;
	float:left;
}
.landing #rateInterestBox .form-label, .landing #extendedRateInterestBox .form-label {
	width: 11em !important;
	padding: 0em;
}
.landing #rateInterestBox .form-field, .landing #extendedRateInterestBox .form-field {
	padding:.1em;
	width: 24em;
}
.landing #rateInterestBox #monthlyRateValue {
	font-weight: bold;
}
.brand_campaign_landing {
	position: relative;
	border:0 solid;
	width: 98em;
 	height: 47em;
}
.brand_campaign_landing #headline {
	position: absolute;
	font-size: 100%;
	top:1.8em;
	margin-left: 13.2em;
	padding: 0;
}
.brand_campaign_landing  h1 {
	color: #73BA24;
}
.brand_campaign_landing #content {
	position: absolute;
	text-align: left;
	font-size: 140%;
	margin-left: 10.6em;
	top:3.5em;
	width: 27em;
	height: 7em;
}
.brand_campaign_landing #label_benefits {
	margin-left:76em;
	position:absolute;
	top:1.8em;
}
.brand_campaign_landing #content_benefits {
	color: #666666;
	font-size: 95%;
	margin-left: 80em;
	position: absolute;
	top: 5.5em;
}
.brand_campaign_landing #content_benefits li {
	padding-bottom:0;
	padding-top:0.5em;
}
.brand_campaign_landing #content_benefits a {
	color:#666666;
	font-weight: normal;
}
.brand_campaign_landing #embedded_object {
	height:25em;
	margin-left:2.75em;
	position:absolute;
	top:19.5em;
	width:46em;
}
.brand_campaign_landing #label_conditions {
	color:#000000;
	font-size:160%;
	font-weight:bolder;
	margin-left:9.5em;
	margin-top:0;
	position:absolute;
	text-align:center;
	top:9.5em;
	width:23.8em;
}
.brand_campaign_landing #amount_box {
	font-size:150%;
	margin-left:36.2em;
	position:absolute;
	top:17.3em;
	width: 29em;
}
.brand_campaign_landing #amount_box .form-label,
.brand_campaign_landing #monthly_rate_box .form-label{
	margin-right:0;
	padding-right:0.1em;
	padding-bottom: 0;
	padding-top: 0;
}
.brand_campaign_landing #amount_box select {
	border-color:#8CCE38 #88CF33 #89CF3B #89CE33;
	color:#515151;
	font-size:115%;
	font-weight:bold;
	margin-left:0.6em;
	margin-right:0;
	min-width:8.8em;
	width:9.2em;
}
.brand_campaign_landing #monthly_rate_box .form-field {
	padding-bottom: 0em;
	clear:right;
}
.brand_campaign_landing #monthly_rate_box {
	font-size:150%;
	margin-left:36.2em;
	position:absolute;
	top:20.3em;
	width: 29em;
}
.brand_campaign_landing #monthly_rate_value {
	color:#515151;
	float:left;
	font-size:125%;
	font-weight:bold;
	margin-left:0.9em;
	/*margin-right:5.1em;
	padding-top:0.3em;*/
}
.brand_campaign_landing #effective_interest_block {

	float:right;
	font-size:60%;
	/*margin-top:-1.6em;*/
	padding-right:.7em;
	padding-top:.9em;
	z-index: 500;
	/*
	float:right;
	font-size:60%;
	margin-left:36.3em;
	position:absolute;
	top:2em;*/
}
.brand_campaign_landing #submit_button_text {
	margin-left:77.3em;
	margin-top:-13em;
}
.brand_campaign_landing #submit_button_text input {
	background:transparent url(/images/1px_trans.gif) repeat scroll 0 0;
	border:medium none;
	color:#333333;
	cursor:pointer;
	font-size:200%;
	font-weight:bold;
	height:3.1em;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	width:9.6em;
	z-index:2;
}
.brand_campaign_landing #footnote {
	color:#999999;
	font-size:0.9em;
	margin-left:59.1em;
	position:absolute;
	top:49.3em;
	z-index:2;
}
.brand_campaign_landing .mini-footer {
	font-size:0.9em;
	margin-left:92em;
	position:absolute;
	top:49.3em;
	z-index:2;
}
.brand_campaign_landing .mini-footer a {
	color:#666666;
	font-weight:normal;
	text-decoration:none;
}
#mikes_landingpage {
	border:0 solid;
	height:50em;
	width:72.3em;
	position: relative;
}
#mikes_landingpage #background_image {
	margin-top:-1em;
	position: absolute;
}
#mikes_landingpage #headline {
	margin-left:0.9em;
	position:absolute;
	top:1.6em;
}
#mikes_landingpage #content {
	font-size:230%;
	font-weight:bold;
	margin-left:2em;
	position:absolute;
	top:4.4em;
}
#mikes_landingpage #amount_box {
	font-size:144%;
	font-weight:bold;
	margin-left:3.2em;
	position:absolute;
	top:11.3em;
}
#mikes_landingpage #amount_box .form-label{
	width:3em;
}
#mikes_landingpage select {
	font-weight:bold;
}
#mikes_landingpage #monthly_rate_box {
	font-size:144%;
	font-weight:bold;
	margin-left:3.2em;
	position:absolute;
	top:14.6em;
}
#mikes_landingpage #monthly_rate_data {
	margin-left:1.8em;
	margin-top:3.5em;
	text-align:center;
	width:14em;
}
#mikes_landingpage #monthly_rate_value {
	font-size:190%;
}
#mikes_landingpage #effective_interest_block {
	font-size:85%;
	font-weight:normal;
}
#mikes_landingpage #footnote {
	color:#999999;
	font-size:0.9em;
	position:absolute;
	top:58.4em;
}
#mikes_landingpage .mini-footer {
	font-size:0.9em;
	margin-left:62em;
	position:absolute;
	top:49em;
}
#mikes_landingpage .mini-footer a {
	color:#666666;
	font-weight:normal;
	text-decoration:none;
}
#mikes_landingpage #submit_button input {
	background:transparent url(/images/1px_trans.gif) repeat scroll 0 0;
	border:medium none;
	color:#333333;
	cursor:pointer;
	height:5.5em;
	margin-left:12em;
	position:absolute;
	text-align:center;
	text-decoration:none;
	top:37.8em;
	vertical-align:middle;
	width:20em;
	z-index:2;
}

/* ################ ROI SLIDER + INTEREST SLIDER ########################## */
/* slider styling */
#roiSlider {
	width: 20.8em;
	margin-bottom: 2em;
    margin-left: 16em;
}
#interestSlider {
	width: 30em; /* 25 */
	margin-bottom: 2em;
	clear:none;
	text-align:center;
	height: 3.5em;
}
#roitip {
	margin-left: 16em;
	margin-bottom: 1em;
	width: 20.8em;
}
.target-slider #slider-bg {
	background-color: white;
	background-image: none;
	height: 1.8em;
	width: 100%;
	border-top: 1px solid  black;
	border-left: 1px solid  black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	display:block;
	margin-bottom: 1em;
}
.target-slider #slider-thumb {
	border-top: 1px solid  white;
	border-left: 1px solid  white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	width: .8em;
	height: 1.7em;
	top: -.1em;
	text-align: center;
	padding-top: .1em;
	/*background: #92E434 url(/images/button_green_3d.gif) repeat-x center top;*/
	background: #ccc;
}
.target-slider #s1max{
	float:right;
}
.target-slider .slider_segment, .orderSlider .slider_segment {
	position:absolute;
	height: 1.7em;
}

.orderSlider {
	margin-top: 0.4em;
}

.target-slider #thelable {
	position:absolute;
	top: 1.8em;
	left: -.5em;
	font-size: 120%;
}

.sliderButton {
	background: #92E434 url(/images/button_green_3d.gif) repeat-x scroll center top;
	border-color:  white black black white;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	cursor: pointer;
	margin: 0 .1em;
}

.sliderButton:active {
	border-color:  black white white black;
}

.sliderButtonLanding {
	width: 1.8em;
	height: 1.8em;
}

.sliderButtonOrder {
	width: 1.5em;
	height: 1.5em;
}

/*############# LENDER LANDING #############*/
#detail_upper_part {
	height: 38.3em;
	margin-bottom: 2px;
	position: relative;
	margin-top: -1em;
}
#detail_upper_part #upper_part_background {
	position: absolute;
	z-index: 0;
}
#detail_upper_part #upper_part_explanation_header {
	position: absolute;
	font-size: 3em;
	font-weight: bold;
	margin-top: 1em;
	padding-left: 1.6em;
	height: 2.5em;
	width: 17em;
}
#detail_upper_part #upper_part_volume_ticker {
	position: absolute;
	margin-left: 55em;
	margin-top: 0.9em;
	font-size: 1.5em;
	text-align: center;
	width: 9em;
	height: 5em;
}
#detail_upper_part #upper_part_volume_ticker strong {
	white-space: nowrap;
}
#detail_upper_part #upper_part_explanation {
	position: absolute;
	font-size: 1.15em;
	left: 4.3em;
	top: 12.5em;
	width: 38em;
}
#detail_upper_part #upper_part_explanation a {
	color: #0B0B0B;
}
#detail_upper_part #action_button_block {
	position: absolute;
	font-size: 2.3em;
	left: 11em;
	top: 11.1em;
}
#detail_upper_part #action_button_block #action_button_link {
	text-align: center;
}
#detail_upper_part #action_button_link a {
	position: absolute;
	background:url("/images/1px_trans.gif") repeat scroll 0 0 transparent;
	text-decoration: none;
	height: 2.6em;
	text-decoration: none;
	width: 8.4em;
	float: left;
	padding-top: 0.1em;
	margin-left: -0.1em;
}
#detail_upper_part #diagram_footer {
	position: absolute;
	text-align: center;
	margin-left: 78.6em;
	margin-top: 32em;
	z-index: 6;
}
#detail_trustbar {
	margin-bottom: 2em;
}

/* ################ TV LANDING PAGE ################## */
#direct_credit_landing {
	position: relative;
	height: 38.5em;
	width: 98em;
	margin-top: -1em;
}

.tv-landing #background_image,
.tv-landing_no_monthly_rate #background_image {
	position: absolute;
	z-index: 1;
}

.tv-landing #homepage_headline {
	font-size: 310%;
	top: 1em;
	left: 1.2em;
	position: absolute;
	z-index: 2;
}
.tv-landing_no_monthly_rate #homepage_headline {
	color:#333333;
	font-size:310%;
	margin-left:1em;
	margin-top:0.8em;
	position:absolute;
	z-index:3;
}
.tv-landing #input_block,
.tv-landing_no_monthly_rate #input_block {
	position: absolute;
	z-index: 2;
	left: 4.5em;
	top: 13em;
	width: 49.6em;
}

.tv-landing #amountBox SELECT,
.tv-landing_no_monthly_rate #amountBox SELECT {
	margin-right: 0em;
	float: right;
	min-width: 8em;
	width: 8em;
	border-color:#8CCE38 #88CF33 #89CF3B #89CE33;
	font-weight:bold;
	color:#515151;
}

.tv-landing .inputBox {
	border-bottom: 1px solid #CBCBCB;
	display:inline-block;
	font-size: 200%;
	margin-left:2.5em;
	margin-top: 0.8em;
	vertical-align:bottom;
	width:21.2em;
}
.tv-landing_no_monthly_rate .inputBox {
display:inline-block;
font-size:200%;
margin-left:2.5em;
margin-top:1.8em;
vertical-align:bottom;
width:21.2em;
}
.tv-landing .form-field,
.tv-landing_no_monthly_rate .form-field {
	padding: 0;
}

.tv-landing .inputBox .form-label,
.tv-landing_no_monthly_rate .inputBox .form-label {
	width: 9em;
	margin: 0;
	margin-right: 0em;
	padding-right: 0em;
	float: left;
}

.tv-landing .inputBox .form-elem,
.tv-landing_no_monthly_rate .inputBox .form-elem {
	font-weight: bold;
	color: #515151;
}


.tv-landing .inputBox #monthlyRateLabel,
.tv-landing_no_monthly_rate .inputBox #monthlyRateLabel {
	width: 9em;
}

.tv-landing .inputBox .green_arrow,
.tv-landing_no_monthly_rate .inputBox .green_arrow {
	background:url("/images/green_arrow.gif") no-repeat scroll left top transparent;
	float:left;
	height:3em;
	margin-left:-2em;
	margin-top:0.4em;
	position:absolute;
	width:3em;
	z-index:2;
}

.tv-landing .inputBox #monthlyRateValue,
.tv-landing_no_monthly_rate .inputBox #monthlyRateValue {
	width: 4.5em;
	float: left;
	margin-top: 0.2em;
	text-align:right;
	white-space: nowrap;
}

.tv-landing #effectiveInterestBlock,
.tv-landing_no_monthly_rate #effectiveInterestBlock {
	float: right;
	font-size:50%;
	margin-top:1.8em;
}

.tv-landing #submit_button_text INPUT {
	background:url("/images/1px_trans.gif") repeat scroll 0 0 transparent;
	border:medium none;
	color:#333333;
	font-size:200%;
	font-weight: bold;
	height: 65px;
	position:absolute;
	top:13.6em;
	left:16.3em;
	width: 195px;
	text-decoration:none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	z-index: 2;
}
.tv-landing_no_monthly_rate #submit_button_text INPUT {
	background:url("/images/1px_trans.gif") repeat scroll 0 0 transparent;
	border:medium none;
	color:#333333;
	font-size:200%;
	font-weight: bold;
	height: 65px;
	position:absolute;
	left:16.3em;
	width: 195px;
	text-decoration:none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	z-index: 2;
}
.tv-landing #info_list,
.tv-landing_no_monthly_rate #info_list {
	top: 5em;
	left: 76em;
	position: absolute;
	z-index: 2;
	color: #666666;
}
.tv-landing #info_list #info_list_head,
.tv-landing_no_monthly_rate #info_list_head {
	color: #73BA24;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0.3em;
}
.tv-landing #info_list #info_list_content li,
.tv-landing_no_monthly_rate #info_list #info_list_content li {
	background:url("/images/gruenes-Haekchen.gif") no-repeat scroll left top transparent;
	padding-bottom:0.2em;
	padding-left:2em;
	padding-top: 0.5em;
	font-size: 0.95em;
}
.tv-landing #info_list #info_list_content a,
.tv-landing_no_monthly_rate #info_list #info_list_content a {
	color: #666666;
	font-weight: normal;
}
.tv-landing #footnote {
	color:#999999;
	font-size:0.9em;
	left:4.7em;
	top:40em;
	position: absolute;
	z-index: 2;
}
.tv-landing .mini-footer,
.tv-landing_no_monthly_rate .mini-footer {
	color:#666666;
	font-size:0.9em;
	/*left:91em;*/
	right: 2em;
	position:absolute;
	/*top:40.5em;*/
	bottom: 0.5em;
	z-index:2;
}
.tv-landing_no_monthly_rate .mini-footer a {
	font-weight: normal;
	text-decoration: none;
	color:#666666;
}
.tv-landing .mini-footer a,
#shortlead_credit_landing .mini-footer a {
	font-weight: normal;
	text-decoration: none;
	color: white;
}

.tv-landing_no_monthly_rate .borrower_promotion_explanation {
	color:#999999;
	font-size:90%;
	left:4.5em;
	position:absolute;
	top:39.7em;
	width:65em;
	z-index:3;
}
.tv-landing_no_monthly_rate .borrower_promotion_explanation a {
	color:#999999;
}
.tv-landing-popup li {
	font-size: 1.2em;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* ################ CAMPAIN BOX ################## */

#campaing_box {
	position: relative;
	width: 978px;
	border: 1px solid #B2B2B2;
	background-color: #F8F8F8;
	height: 130px;
}
#campaing_box #headline_box {
	padding:0.2em 0 0.2em 2em;
	margin-bottom:0.05em;
}
#campaing_box #headline_box h1, #campaing_box #headline_box p {
	color:#FFFFFF;
	font-size:180%;
    padding: 0;
    margin: 0;

}
#campaing_box #headline_box h1 {
    font-weight: bold;
    float:left;
}
#campaing_box #headline_box p {
	clear:none;
}
#campaing_box .box {
	position: absolute;
	/*top: 30px;*/
	width: 326px;
}
#campaing_box .box a#link1 {
	text-decoration: none;
	color: #FFFFFF; /*inherit*/
}
#campaing_box #box1 IMG {
	/*margin-left: 1.2em;
	margin-top: 0.8em;*/
}
/*
#campaing_box #box1 .box_text {
	color:#FFFFFF;
	font-size:155%;
	font-weight:bold;
	margin-left:170px;
	margin-top:-65px;
}
*/
#campaing_box #box1 {
	left: 0px;
}
#campaing_box #box2 {
	left: 327px;
}
#campaing_box #box3 {
	left: 655px;
}
#campaing_box .box_text {
	font-size:130%;
	margin-left:130px;
	margin-right:20px;
	margin-top:-95px;
	color: #333333;
}
#campaing_box .box_text p {
	font-size: 95%;
	margin-top: 0.4em;
	color: #666666;
	padding: 0;
}

#campaing_box #box_text1 {
	top: 20px;
}

.homepage_spacer_h12 {
	height: 1.2em;
}
.homepage_spacer_h28 {
	height: 2.8em;
}
.homepage_spacer_h40 {
	height: 4em;
}
