/* ############ MY SMAVA #################### */
#smava_professional .submitbutton input {
	width: 22em;
}
#automatic_and_personal .submitbutton input {
	width: 22em;
}
#individual .submitbutton input {
	width: 22em;
}
/* ############ CONDITIONS BOX IN KN REG #################### */
#conditionsbox ul {
	list-style: outside disc;
	margin-left: 1em;
	font-size: 120%;
}
/* ############ TOOLTIP ############### */
#tooltip {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-Index: 200000;
}
#tooltip img {
	margin:0;
	padding:0;
}
#tooltip-display {
    position: relative;
    padding: 0 2px 2px 0;
    z-Index: 1000;
}
#tooltip-shadow {
    position: absolute;
    top: 2px;
    left: 2px;
    /*opacity: .5;*/
    z-Index: 999;
}
#tooltip-shadow {
    padding: 0 0 0 0;
}
#tooltip-text,
#tooltip-shadow-text {
    border: 1px solid #666666;
    padding: 0.6em; /* 6/16 */
    width: 12.5em; /* 200/16 */
    background-color: #FEFF99;
}
#tooltip-text .tooltip-text,
#tooltip-shadow-text .tooltip-text {
    display: block;
}
#tooltip-shadow-text {
    background-color: #666666;
}
#tooltip-shadow-text span {
    visibility: hidden;
}
#tooltip-pointer,
#tooltip-shadow-pointer {
    position: relative;
    left: 20px;
    margin-top: -1px;
    width: 21px;
    height: 21px;
    background: transparent url(/images/tooltip-pointer-bl.gif) no-repeat 0 0;
}
#tooltip-shadow-pointer {
    background-image: url(/images/tooltip-pointer-shadow-bl.gif);
}
.tooltip {
    cursor: help;
}
.tooltip-text {
    display: none;
}
/* ######## Helpers ############## */
.aural { /* offleft technique to support IE/Win based screenreaders properly */
    position: absolute;
    left: -1000px;
    top: -1000px;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
.clearfloat {
    display: block;
    margin-top: -1px;
    height: 1px;
    overflow: hidden;
    clear: both;
}
.vertical,
.horizontal,
.form-elem ul,
#faq ul,
#footer ul,
#primarynav ul {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
    display:inline;
}

.kickedGroupMemberLink {
    color: #888;
}

/*############# REGISTRATION INFO BLOCKS ############*/

.descDiv-block {
	display: block;
}

.descDiv-none {
	display: none;
}

.descField-blue {
	background-color: #D7E3EB;
}

.descField-gray {
	background-color: #EEEEEE;
}

.descField {
	left: -2em;
	padding: 0 2em;
	position: relative;
	width: 72em;
}

.rowDesc-highlight {
	background-color: #D7E3EB;
}
.rowDesc-lowlight {
	background-color: #EEEEEE;
}

.innerDivider {
	left: -2em;
	position: relative;
}

.small-info-block-position {
    display: none;
    position: absolute;
    right: -20em;
    width: 21em;

    margin-top: 0em; /*-2em*/

    background-color: #D7E3EB;
    color: #000;
}
.small-info-block {
    padding: 1em;
    font-size: 120%;
}

.credit-worthiness-small-info-block {
    display: none;
    position: absolute;
    right: -16em;
    padding: 1em;
    width: 13.5em;

    margin-top: 0em; /*-2em*/

    background-color: #D7E3EB;
    color: #000;
    font-size: 120%;
    border-right: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
}

.form-highlight .form-label {
	background-color: #D7E3EB;
}
/*############# MARKETPLACE STATS #############*/
#avg_interests th, #avg_interests td,
#volumes th, #volumes td,
#poolstats th, #poolstats td {
	padding: .8em .3em; /* 8 10/10 */
}
#payment_performance table {
	border: none;
}
#payment_performance td.background_white {
	background-color: #FFFFFF;
}
#payment_performance .small {
	font-size: 80% !important;
}
#payment_performance tbody td {
	border-color: #000000;
}
#payment_performance table {
	border-bottom: 1px solid #000000;
}
#payment_performance #show_hide_link {
	float: left;
}
#payment_performance #last_update {
	float: right;
}
.interestsTableBlock table {
	background-color: #FFFFFF;
	border-bottom: 1px solid #000000;
	border-left: none;
	border-right: none;
	border-top: none;
	color: #000000;
}
.interestsTableBlock table td {
	background-color: #FFFFFF;
}
/*########## marketing_action_button ###################*/
#marketing_action_button .submitbutton {
    /*background: transparent url(/images/button_sun_yellow.gif) no-repeat 0 0;
	border: 1px solid black;*/
	padding: 1.5em 0;
}
#marketing_action_button .form-submit ul,
#marketing_action_button .form-submit ul li {
	float: left;
}
/*############# marketplace #############*/
#marketplace #upper_part_lender {
	float: left;
	font-size: 1em;
	width: 98em;
	margin-bottom: 1.7em;
}
#marketplace #upper_part_lender h1 {
	margin-bottom: 1.3em;
}
#marketplace #upper_part_lender .loggedinLenderBox {
	background-color: #F3F3F3;
	height: 16em;
	width: 25em;
	margin-left: 4em;
	float: left;
}
#marketplace #upper_part_lender .loggedinLenderBox ul {
	list-style:none outside url("/images/grey-arrow.gif");
	margin-left:2.2em;
}
#marketplace #upper_part_lender .loggedinLenderBox ul li {
	margin-bottom: 1em;
}
#marketplace #upper_part_lender .loggedinLenderBox ul li a {
	font-weight: normal;
}
#marketplace #upper_part_lender .loggedinLenderBox h5 {
	color:#666666;
	font-size:1.5em;
	margin-left:0.8em;
	margin-top:0.5em;
	margin-bottom:1em;
}
#marketplace #upper_part_lender #box1 {
	width: 40em;
	height: 16em;
	float: left;
}
#marketplace #upper_part_lender #market_ticker_box {
	background: transparent url(/images/marktticker.gif) top left no-repeat; /* Marktticker_single.gif */
	width: inherit;
	height: inherit;
}

#marketplace #upper_part_lender #market_ticker_box #market_ticker_more {
	margin-right: 3.5em;
	margin-top: 0.6em;
}

#marketplace #upper_part_lender #market_ticker_box #market_ticker_more_compact {
	margin-right: 3.5em;
	margin-top: -0.6em;
}
#marketplace #upper_part_lender #market_ticker_box div.offer_time {
	float: left;
	margin-right: 0.3em;
}
#marketplace #upper_part_lender #market_ticker_box div.order_title {
	margin-top: 0.2em;
}
#marketplace #upper_part_lender #market_ticker_box h5 {
	margin-bottom: 0.2em;
}
#marketplace #upper_part_lender #market_ticker_box ul li {
	margin-top: 0.6em;
}
#marketplace #upper_part_lender #market_ticker_box #market_ticker_more {
	margin-top: 0em;
}

#marketplace #upper_part {
	border: .1em solid none;
	height: 38.1em;
	position: relative;
	margin-top: -1em;
}
#marketplace #trustbar2 {
	margin-top: .5em;
	background-color: #ECECEC;
}
#marketplace #background_image {
	position: absolute;
	z-index: 0;
}
#marketplace #lender_explanation_header {
	position: absolute;
	font-size: 3em;
	font-weight: bold;
	top: 1em;
	left: 1.6em;
}
#marketplace #marketplace_volume_ticker {
	position: absolute;
	left: 55.5em;
	top: 0.9em;
	font-size: 1.5em;
	text-align: center;
	width: 124px;
}
#marketplace #marketplace_volume_ticker strong {
	white-space: nowrap;
}
#marketplace #lender_explanation {
	position: absolute;
	font-size: 1.15em;
	left: 4.3em;
	top: 12.5em;
}

#marketplace #lender_explanation a {
	color: #0B0B0B;
}

#marketplace #action_button_block {
	position: absolute;
	font-size: 2.3em;
	left: 11em;
	top: 11.1em;
}
#marketplace #action_button_link a {
	position: relative;
	background:url("/images/1px_trans.gif") repeat scroll 0 0 transparent;
	text-decoration: none;
	height: 2.4em;
	/*margin-left: -8em;*/
	margin-top: -2.8em;
	text-decoration: none;
	width: 8.4em;
	float: left;
}
#marketplace #action_button_link {
	text-align: center;
}
#marketplace #marketplace_button_link {
	background: url("/images/1px_trans.gif") repeat scroll 0 0 transparent;
	height: 6.4em;
	width: 19.6em;
}
#marketplace #image_diagram {
	position: absolute;
	left: 39em;
	top: 10.8em;
	z-index: 5;
}
#marketplace .diagram_number {
	font-size: 1.5em;
	font-weight: bold;
}
#marketplace #diagram_number_left {
	position: absolute;
	left: 53.8em;
	top: 17.9em;
	white-space: nowrap;
}
#marketplace #diagram_number_right {
	position: absolute;
	left: 59.7em;
	top: 15.6em;
	white-space: nowrap;
}
#marketplace #diagram_text_left {
	position: absolute;
	text-align: center;
	left: 79em;
	top: 29em;
	z-index: 6;
}
#marketplace #diagram_text_right {
	position: absolute;
	text-align: center;
	left: 89.5em;
	top: 26.2em;
	z-index: 6;
}
#marketplace #diagram_footer {
	position: absolute;
	text-align: center;
	left: 78.6em;
	top: 32.2em;
	z-index: 6;
}
#diagram_footer a {
	color: #0B0B0B;
}
/* this is for the more info popup */
#lender_roi_more_info_popup {
	float: right;
	margin-top: 0.5em;
	margin-left: 2em;
	margin-bottom: 1em;
	font-size: 80%;
}

#marketplace #explanation {
	font-size: 0.9em;
	margin-top: 0.5em;
	float:left;
}

#marketplace #cp_list {
	width: 98em;
	margin-top: 1.2em;
	float:left;
}

.headline_orders {
	background-color: #73BA24;
}
#marketplace #projects {
	font-weight: bold;
	font-size: 1.2em;
}
#marketplace .full_financed {
	font-size: 1em;
	text-align: center;
	font-weight: bold;
}
#marketplace .button_text {
	margin-top: -2.8em;
	font-weight: bold;
	font-size: 1.2em;
}
#marketplace .button_text a {
	text-decoration: none;
}

#marketplace .button_text .time_remaining {
	font-size: 0.8em;
	font-weight: normal;
}

#marketplace table {
	font-size: 1.5em;

}

#marketplace table th {
	font-weight: bold;
	white-space: nowrap;
	vertical-align:middle;
}

#marketplace table th.allow_wrap {
	white-space: normal;
}

#marketplace table th, #marketplace table td {
	padding: 0.8em 0.5em;
}
#marketplace table tbody td img#button_image {
	float: none;
}

#marketplace table tbody td.last_col {
	text-align: center;
	vertical-align: middle;
	padding-top: 0.2em;
}

#marketplace table tbody tr.footer {
	font-size: 80%;
}

#marketplace .credit_project_user a {
	text-decoration: none;
	font-size: 0.8em;
}
#marketplace .lighter_table_header {
	font-weight: lighter;
}
#marketplace .bold_table_header {
	font-size: 1.1em;
	font-weight: bolder;
	vertical-align: middle;
}
#marketplace .bolder_table_column {
	font-size: 1.3em;
}
#marketplace .bold_table_column {
	font-size: 1.2em;
}
 /* ##################### stats overview ############################## */
.volumsTableBlock ul.tabnav li.current span a,
.interestsTableBlock ul.tabnav li.current span a {
	color: #000000;
	text-decoration: none;
	cursor: default;
}
.volumsTableBlock table {
	border: none;
	background-color: #FFFFFF;
	color: #000000;
}
.volumsTableBlock table tbody td {
	border: none;
	background-color: #FFFFFF;
	color: #000000;
}
.volumsTableBlock table tbody tr.bottom_border td {
	border-bottom: 1px solid #000000;
}

.volumsTableBlock table tbody tr td.bottom_border {
	border-bottom: 1px solid #000000;
}

.volumsTableBlock table tbody tr.bg_dark_gray td {
	background-color: #D4D4D4;
}

.volumsTableBlock table tbody tr.bg_light_gray td {
	background-color: #F3F3F3;
}
.volumsTableBlock table .bold_font,
.interestsTableBlock table .bold_font {
	font-weight: bold;
}
.volumsTableBlock .volumn_hint_text {
	font-size: 0.8em;
}

.menu_mysmava_link {
	padding-bottom: 2em;
}

.menu_mysmava_link a {
	color: #0066FF;
}
