
/*
    RESET HTML ELEMENT DEFAULT VALUES
    Media group: visual (handheld, print, projection, screen, tty, tv)
*/

/*
    Global whitespace and font-family reset
*/
* {
    margin: 0;
    padding: 0;
}

/*
    Global structure
*/

html {overflow-y: scroll}


html, body { /* xhtml as xml compatible */
    font-family: Arial, Helvetica, sans-serif;
    border: 0; /* remove border on html element in IE/Win */
    background: #fff;
    color: #000;
}
address {
    font-style: normal;
}

/*
    Text
*/
abbr[title], acronym[title], dfn[title] {
    border-bottom: 1px dotted; /* border-color is inherited from color */
    font-style: normal;
    cursor: help;
}
blockquote, cite, em, q {
    font-style: italic;
}
q:before {
    content: "";
}
q:after {
    content: "";
}
strong {
    font-weight: bold;
}

/*
    Lists
*/
ol,
ul {
    margin-left: 2em;
    margin-bottom: 1em;
}

/*
    Tables
*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    caption-side: top;
    empty-cells: show;
}
td, th {
    vertical-align: top;
    text-align: left;
}

/*
    Links
*/
a {
    text-decoration: underline;
    color: #299AB5;
}

/*
    Objects, images
*/
img {
    border: 0;
}

/*
    Horizontal rules
*/
hr {
    display: none;
}

/*
    Forms
*/
fieldset {
    border: 0 solid transparent; /* 'solid transparent' required by Opera */
}
legend {
    color: #000; /* IE/Win does not inherit color */
}
optgroup {
    font-style: normal;
    font-weight: bold;
}
/* ------------------------LAYOUT----------------------------------------- */

/* ################ PAGE ################ */
body {
    width: 100%;
}

body.bg_image {
    width: 100%;
	background: #efefef;
	background: linear-gradient(top,  #ffffff,  #efefef);
	background: -ms-linear-gradient(top,  #ffffff,  #efefef);
	background: -moz-linear-gradient(top,  #ffffff,  #efefef);
	background: -webkit-linear-gradient(top,  #ffffff,  #efefef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
}

body.bg_image #footer {
	background: transparent;
	margin-top: 0;
	padding-top: 0;
}

body.bg_image #footer .footer-column {
	margin-top: 2em;
}

#layout-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 65em;
    padding-left: 1em;
}