/* ################ HEADER ################ */
#header,
#footer {
    border-color: #CCCCCC;
}
#tagline {
    color: #666666;
    display: block;
}
#headerimage {
    float: right;
}
#quote {
    font-size: 112.50%; /* 18/16 */
}
#quote,
#quote a {
    color: #73BE1E;
    text-decoration:none;
    font-weight: normal;
}
#quote div {
    color: #999999;
    font-size: 61.11%; /* 11/18 */
    font-weight: bold;
    margin-top: 0.3125em; /* 5/16 */
    text-align: right;
}